extends ../layout/index
block contenido
    main.container.mt-5
        .row 
            .col-md-5
                img.img-fluid(src="img/nosotros.jpg", alt="imagen de nosotros")
            .col-md-7 
                h1 #{pagina} 
                blockquote Curabitur et tellus velit. Pellentesque accumsan bibendum dolor molestie mattis. Aliquam in elit ut arcu sodales feugiat. Aenean eget nibh lectus. Cras tempor ultrices nulla nec sollicitudin. In at consectetur lorem. Curabitur vitae lectus cursus, pretium felis nec, placerat tellus. Aenean quis lacus lectus.
                p leo sit amet lorem tincidunt, non tempus augue faucibus. Donec fermentum turpis non dolor rutrum viverra. Sed sit amet sodales lectus. Nulla feugiat enim vitae nibh pulvinar convallis. Mauris id felis eget ante pellentesque porttitor ac non felis. Mauris eget vulputate purus, ullamcorper sem. Integer nunc arcu, semper non lacus a, luctus maximus dui. In mollis maximus consequat arcu. Maecenas nec dolor ut nisl porta pharetra at ac nisl. Suspendisse nunc turpis, dictum quis consectetur id, mauris sem, id facilisis dui consectetu
                p consectetur justo maximus nec. Etiam fermentum volutpat commodo. Donec eu iaculis nunc, quis sodales metus. Vivamus scelerisque scelerisque elit, ac imperdiet metus imperdiet vitae. Fusce porttitor ex a volutpat commodo. Donec eu Mauris id felis eget ante pellentesque porttitor ac non felis. Mauris eget vulputate purus
    .listado-iconos
        .container.mt-5.py-5.text-center
            .row 
                .col-md-4
                    img(src="img/icono_seguridad.svg", class="img-fluid mb-4", alt="Seguridad")
                    h2.mb-4 Seguridad  
                    p lorem nec dolor ut nisl porta pharetra at ac jfjdllkd nisl. Suspendisse nunc turpis, dictum quis consectetur id, mauris sem, id facilisis dui consectetu
                .col-md-4
                    img(src="img/icono_destinos.svg", class="img-fluid mb-4", alt="Seguridad")
                    h2.mb-4 Nuestros destinos  
                    p lorem nec dolor ut nisl porta pharetra at ac jfjdllkd nisl. Suspendisse nunc turpis, dictum quis consectetur id, mauris sem, id facilisis dui consectetu
                .col-md-4
                    img(src="img/icono_precios.svg", class="img-fluid mb-4", alt="Seguridad")
                    h2.mb-4 El mejor precio  
                    p lorem nec dolor ut nisl porta pharetra at ac jfjdllkd nisl. Suspendisse nunc turpis, dictum quis consectetur id, mauris sem, id facilisis dui consectetu
